<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <p>Welcome to Login</p>
        <form action="/login" method="post">
          <label for="user">user</label>  
          <input type="text" name="user" required>
          <label for="password">password</label>  
          <input type="password" name="password" required>
            <input type="submit">
        </form>
  </body>
</html>